body {
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	text-align: center;
	background-color: #FFF;
}
#wrapper {
	width: 2033px;
}

/*------------------------------------Header ----------------------------------------*/


#header {
	background-color: #333;
	padding-top: 0;
	padding-bottom: 0;
	position: relative;
	margin: 0px;
	width: 100%;
}
.ming_logo {/*Ming logo here*/
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	top: -90px;
	padding-top: -90px;
	position: relative;
}

/*--------------------Top black section of heade--------------------------r*/

#topHeader { 
	background-color: #000;
	height: 123px;
	width: 100%;
	background-image: url(assets/white_line.png);
	background-repeat: repeat-x;
	background-position: bottom;
}

/*-----------------Container for social media icons---------------------*/

#socialMediaContainer {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	padding-right: 20px;
	padding-left: 20px;
}
#socialMediaicons {
	float: none;
	margin-top: 35px;
}
#socialMediaicons li {
	display: inline;
	text-decoration: none;
	float: right;
	margin-left: 15px;
}
/*-----------------End of social media container---------------------*/

/*-----------------------------Main image and video---------------------------------*/

#HeaderMainContent {
	width: 100%;
	position: relative;
	height: 480px;
	background-image: url(assets/house-of-ming-background-image-bridge_small.png);
	background-repeat: no-repeat;
	background-position: top;
}
#headerVideoContainer {
	width: 975px;
	margin-right: auto;
	margin-left: auto;
	margin-top: -75px;
	padding-right: 20px;
	padding-left: 20px;
}
.mainVideoHeading {
	background-color: #000;
	float: left;
	width: 520px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
	margin: 0px;
	height: 25px;
	padding-top: 9px;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #FFF;
	z-index: 999;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #FFF;
	font-weight: bolder;
}
/*-------------------------------------------End main image and video------------------------*/

/*-------------------------------------------------Main navo-----------------------------------*/

#navContainer {
	background-color: #000;
	
	height: 52px;
	margin-right: auto;
	margin-left: auto;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFF;
	width: 100%;
	padding-top: 0px;
	margin-top: 0px;
}
#navContainer ul {
	text-align: center;
	top: 10px;
	margin-top: 13px;
	margin-bottom: 0px;
	display: block;
	padding: 0px;
	margin-right: 0px;
	margin-left: 0px;
}
#navContainer li {
	display: inline;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 140%;
	margin-right: 0px;
	text-decoration: none;
	text-transform: none;
	font-weight: lighter;
}
#navContainer a:link, #navContainer a:visited {
	color: #FFF;
	text-decoration: none;
}
#navContainer a:hover, #navContainer a:focus, #navContainer a:active {
	color: #ed1c24;
	text-decoration: none;
}
.bullet {
	margin-right: 10px;
	margin-left: 17px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
} 

/*-------------------------------------------------End Main navo------------------------------*/


#container {
	width: 980px; /* the auto margins (in conjunction with a width) center the page */
	border: 0px none #000000;
	text-align: left; /* this overrides the text-align: center on the body element. */
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 10px;
	padding-top: 0px;
	padding-right: 20px;
	padding-left: 20px;
}
#mainText {
	float: left;
	width: 710px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-style: normal;
	line-height: 135%;
	font-weight: normal;
	text-transform: none;
	color: #333333;
	padding-top: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #000;
	padding-bottom: 9px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 16px;
	margin-left: 0px;
}
#mainContent {
	padding-top: 0;
	padding-right: 0px;
	padding-bottom: 0;
	padding-left: 0px;
	width: 980px;
	position: relative;
	margin-top: 10px;
}
#mainTextOneColumn {
	width: 770px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-style: normal;
	line-height: 135%;
	font-weight: normal;
	text-transform: none;
	color: #333333;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#sidebar {
	float: none;
	margin-left: 740px;
	margin-top: 0px;
	padding-top: 14px;
}

/* signup container begins---------------------------- */
#signup_container {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
	background-color: #000;
	text-align: center;
	font-size: 120%;
	line-height: 100%;
	padding-right: 4px;
	padding-bottom: 20px;
	padding-left: 4px;
	margin-top: 19px;
	padding-top: 20px;
	font-weight: bold;
	width: 227px;
	margin-bottom: 17px;
}
#signup_container a {
	padding-top: 12px;
	display: block;
}
#signup_container p { 
	margin: 0px;
}
/* signup container Ends-------------------------------- */

.oneColFixCtrHdr #header h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 10px 0; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
}

/*-Text formating------------------------------------------------------------------------*/

.Headings {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 200%;
	font-weight: normal;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #000;
	padding-bottom: 10px;
	color: #000;
	padding-top: 10px;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #000;
}
.HeadingsOneColumn {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 200%;
	font-weight: normal;
	text-align: center;
	width: 770px;
	margin-right: auto;
	margin-left: auto;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #000;
	padding-bottom: 1px;
	color: #000;
}
.HeadingNoLine {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 200%;
	font-weight: normal;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	color: #000;
}
span.dropcaps {/* Drop caps */
	font-family:Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 270%;
	float: left;
	font-weight: 400;
	line-height: 1em;
	margin-bottom: -0.4em;
	margin-right: 0.03em;
	position: relative;
}
.bold-body-text {
	font-weight: bolder;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
}
.description_heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 60%;
	color: #666;
}
.indent {
	text-indent: 30px;
}
.noIndentList {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
}

/*------------------Quotes styles----------------*/
.HeadingsQuote {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 125%;
	font-weight: bold;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	border-bottom-width: 4px;
	border-bottom-style: double;
	border-bottom-color: #000;
	padding-bottom: 20px;
	color: #000;
	line-height: 180%;
	padding-top: 10px;
	border-top-width: 4px;
	border-top-style: double;
	border-top-color: #000;
	margin-bottom: 20px;
}
.dominga_name {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 225%;
	color: #000;
}
#quoteText {
	float: left;
	width: 710px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 100%;
	font-style: italic;
	line-height: 150%;
	font-weight: normal;
	text-transform: none;
	color: #333333;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#quoteText p {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #000;
}

.quoteCredit {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	color: #000;
}

/*------------------END Quotes styles---------------*/

/*---------------------------------------End Text formating----------------------------------*/

.clearfloat {
	font-size: 1px;
	line-height: 0px;
	clear: both;
	height: 0px;
}
.floatleft {
	float: left;
}

.imageBorder {
	border: 1px solid #999;
}


/*Styles for video pages ----------------------------------------------------------------------------*/

#videoNav {
	margin-top: -18px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #000;
	width: 698px;
	margin-right: auto;
	margin-left: auto;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #000;
	margin-bottom: 30px;
	text-align: center;
	display: block;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 35px;
}
#videoNav ul {
	display: block;
	padding: 0px;
	margin-top: 9px;
	margin-bottom: 9px;
}
#videoNav li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	display: inline;
	text-align: center;
	text-decoration: none;
	margin-right: 20px;
}
#videoNav a:link, #videoNav a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
}
#videoNav a:hover, #videoNav a:focus, #videoNav a:active {
	color: #ed1c24;
	text-decoration: none;
}
.videoListContainer {
	width: 730px;
	padding-top: 30px;
	padding-bottom: 18px;
	border: 1px solid #000;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
	margin-top: 20px;
	text-align: center;
}
.video-subhead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 115%;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
	margin-right: auto;
	margin-left: auto;
	width: 513px;
	text-align: center;
	margin-top: 10px;
	background-color: #000;
	padding-top: 3px;
	padding-bottom: 3px;
}
.videoCaption {
	font-size: 87%;
	font-weight: bolder;
	color: #000;
}

a.web_links:link, a.web_links:visited {
	font-weight: bolder;
	color: #000;
	text-decoration: none;
}
a.web_links:hover, a.web_links:focus, a.web_links:active {
	font-weight: bolder;
	color: #ed1c24;
	text-decoration: none;
}
.centeredVideo {
	text-align: center;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 19px;
	margin-left: 0;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 0;
}

/*END Styles for video pages ----------------------------------------------------------------------------*/


/* PRESS GALLERY styles begin here ----------------------------------------------------------------- */

.pressGallery { /* Style press gallery container */
	width:980px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.pressGallery a { /* Style caption text */
	text-decoration:none;
	color:#333;
	font-family: "normal Arial", Helvetica, sans-serif;
	font-size: 90%;
	font-weight: bold;
}
.pressGallery ul p { /* Controls caption box */
	text-align:center;
	padding:2px 0 2px 0;
}
.pressGallery a:hover { /* Styles link and border hover state */
	color:#ed1c24;
}
.pressGallery ul li a img { /* Controls styling of image */
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #000;
}
.pressGallery ul, .presGallery ul p { /* Removes list styles, zeros out padding and margins */
	margin:0;
	padding:0;
	list-style-type:none;
}
.pressGallery ul li { /* Displays list horizontally rather than vertically */
	display:inline;
}
.pressGallery ul li a { /* Controls image box */
	display:block;
	float:left;
	padding:0px;
	width:306px;
	border:1px dotted #000;
	margin-top: 0px;
	margin-right: 9px;
	margin-bottom: 20px;
	margin-left: 9px;
	overflow: hidden;
	background-color: #FFF;
}
/* Press gallery styles end here ---------------------------------------------------------------------- */


/* Image gallery begins here ---------------------------------------------------------------------- */

.gallerythumbnailbox {
	width: 980px;
	margin-top: -12px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	display: block;
	padding-top: 20px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-top-color: #000;
	border-bottom-color: #000;
}

.gallerythumbnailbox a { /* Style caption text */
     text-decoration:none;
     color:#333;
     font-family: "normal Arial", Helvetica, sans-serif;
     font-size: 90%;
     font-weight: bold;
}

.gallerythumbnailbox ul p { /* Controls caption box */
     text-align:center;
     padding:2px 0 2px 0;
}


.gallerythumbnailbox a:hover { /* Styles link and border hover state */
     color:#ed1c24;
}

.pressGallery ul li a img { /* Controls styling of image */
     border-top-style: none;
     border-right-style: none;
     border-bottom-style: none;
     border-left-style: none;
}

.gallerythumbnailbox ul, .presGallery ul p { /* Removes list styles, zeros out padding and margins */
     margin:0;
     padding:0;
     list-style-type:none;
}


.gallerythumbnailbox ul li { /* Displays list horizontally rather than vertically */
     display:inline;
}


.gallerythumbnailbox ul li a { /* Controls image box */
     display:block;
     float:left;
     padding:0px;
     width:306px;
     margin-top: 0px;
     margin-right: 10px;
     margin-bottom: 0px;
     margin-left: 10px;
     overflow: hidden;
}



.galleryContainer {
	width: 980px;
	height: 735px;
	margin-bottom: 40px;
	margin-top: 35px;
	clear: both;
}

.PressArticleContainer {
	width: 730px;
	padding-top: 18px;
	padding-bottom: 18px;
	border: 1px solid #000;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
	margin-top: 20px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	font-weight: bold;
	color: #333;
}

/* Image gallery ENDS here ---------------------------------------------------------------------- */

/*-Newsletter-------------------------------------------------------------------------------------*/

#mc_embed_signup { /* newsletter container */
	background:#F0F0F0;
	clear:left;
	font:14px Helvetica, Arial, sans-serif;
	border: 1px dotted #000;
}
.subscribe_heading {
	color: #FFF;
	background-color: #000;
	text-align: center;
	margin: 0px;
	padding-top: 7px;
	padding-bottom: 7px;
}
#mc_embed_signup form { /* newsletter Box */
	display:block;
	position:relative;
	text-align:left;
	padding:10px 0 10px 3%
}
#mc_embed_signup h2 {
	font-weight:bold;
	padding:0;
	font-size:1.4em;
	text-align: center;
	color: #FFF;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
	background-color: #000;
}
#mc_embed_signup input {
	border:1px solid #999;
	-webkit-appearance:none;
}
#mc_embed_signup input[type=checkbox] {
	-webkit-appearance:checkbox;
}
#mc_embed_signup input[type=radio] {
	-webkit-appearance:radio;
}
#mc_embed_signup input:focus {
	border-color:#333;
}

/* subscribe button styles ------------------ */
#mc_embed_signup .button {
	clear:both;
	background-color: #000;
	border: 0 none;
	border-radius:4px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-size:15px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	margin: 0 5px 10px 0;
	padding: 0 22px;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
	width: auto;
}
#mc_embed_signup .button:hover {
	background-color:#ed1c24;
}

/* END of subscribe button styles ------------------ */


#mc_embed_signup .small-meta {
	font-size: 11px;
}
#mc_embed_signup .nowrap {
	white-space:nowrap;
}
#mc_embed_signup .mc-field-group {
	clear:left;
	position:relative;
	width:96%;
	padding-bottom:3%;
	min-height:50px;
}
#mc_embed_signup .size1of2 {
	clear:none;
	float:left;
	display:inline-block;
	width:46%;
	margin-right:4%;
}
* html #mc_embed_signup .size1of2 {
	margin-right:2%; /* Fix for IE6 double margins. */
}
#mc_embed_signup .mc-field-group label {
	display:block;
	margin-bottom:3px;
}
#mc_embed_signup .mc-field-group input {
	display:block;
	width:100%;
	padding:8px 0;
	text-indent:2%;
}
#mc_embed_signup .mc-field-group select {
	display:inline-block;
	width:99%;
	padding:5px 0;
	margin-bottom:2px;
}
#mc_embed_signup .datefield, #mc_embed_signup .phonefield-us {
	padding:5px 0;
}
#mc_embed_signup .datefield input, #mc_embed_signup .phonefield-us input {
	display:inline;
	width:60px;
	margin:0 2px;
	letter-spacing:1px;
	text-align:center;
	padding:5px 0 2px 0;
}
#mc_embed_signup .phonefield-us .phonearea input, #mc_embed_signup .phonefield-us .phonedetail1 input {
	width:40px;
}
#mc_embed_signup .datefield .monthfield input, #mc_embed_signup .datefield .dayfield input {
	width:30px;
}
#mc_embed_signup .datefield label, #mc_embed_signup .phonefield-us label {
	display:none;
}
#mc_embed_signup .indicates-required {
	text-align:right;
	font-size:11px;
	margin-right:4%;
}
#mc_embed_signup .asterisk {
	color:#c60;
	font-size:200%;
}
#mc_embed_signup .mc-field-group .asterisk {
	position:absolute;
	top:25px;
	right:10px;
}
#mc_embed_signup .clear {
	clear:both;
}
#mc_embed_signup .mc-field-group.input-group ul {
	margin:0;
	padding:5px 0;
	list-style:none;
}
#mc_embed_signup .mc-field-group.input-group ul li {
	display:block;
	padding:3px 0;
	margin:0;
}
#mc_embed_signup .mc-field-group.input-group label {
	display:inline;
}
#mc_embed_signup .mc-field-group.input-group input {
	display:inline;
	width:auto;
	border:none;
}
#mc_embed_signup div#mce-responses {
	float:left;
	top:-1.4em;
	padding:0em .5em 0em .5em;
	overflow:hidden;
	width:90%;
	margin: 0 5%;
	clear: both;
}
#mc_embed_signup div.response {
	margin:1em 0;
	padding:1em .5em .5em 0;
	font-weight:bold;
	float:left;
	top:-1.5em;
	z-index:1;
	width:80%;
}
#mc_embed_signup #mce-error-response {
	display:none;
}
#mc_embed_signup #mce-success-response {
	color:#529214;
	display:none;
}
#mc_embed_signup label.error {
	display:block;
	float:none;
	width:auto;
	margin-left:1.05em;
	text-align:left;
	padding:.5em 0;
}
#mc-embedded-subscribe {
	clear:both;
	width:auto;
	display:block;
	margin:1em 0 1em 5%;
}
#mc_embed_signup #num-subscribers {
	font-size:1.1em;
}
#mc_embed_signup #num-subscribers span {
	padding:.5em;
	border:1px solid #ccc;
	margin-right:.5em;
	font-weight:bold;
}
#contact_us_box { /* Contact us box starts----------- */
	text-align: center;
	color: #000;
	padding-top: 8px;
	margin-top: 17px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #000;
	font-weight: bold;
	margin-bottom: 25px;
}
.contact_social_media {
}
#contact_us_box p {
	margin-top: 0px;
}
.contact_social_media li {
	text-decoration: none;
	display: inline;
	margin-right: 5px;
	margin-left: 3px;
}
.contact_social_media {
	padding: 0px;
	margin-top: -8px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
#contact_us_box a:link, #contact_us_box a:visited {
	color: #000;
	font-weight: bold;
}

#contact_us_box a:hover, #contact_us_box a:active { /* Contact us box ends----- */
	color: #ed1c24;
	font-weight: bold;
}
/* END of Newsletter-------------------------------------------------------------------*/


/* Footer styles ---------------------------------------------------------------------- */

#footer {
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	background-color: #000;
	height: auto;
	margin: 0px;
}

#footerContents {
	width: 980px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	color: #FFF;
	font-size: 75%;
	margin-bottom: 0px;
	line-height: 100%;
	text-align: center;
	padding: 0px;
}

#footerContents ul {
	display: block;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 115%;
	margin-right: 0px;
	margin-left: 0px;
	color: #ed1c24;
}

#footerContents li {
	color: #FFF;
	display: inline;
	padding: 0px;
	margin-top: 0px;
	margin-right: 13px;
	margin-bottom: 0px;
	margin-left: 8px;
}

.footer_spacer {
	color: #ed1c24;
	margin-right: 2px;
	margin-left: 2px;
}

.footer_spacer {
	color: #ed1c24;
	margin-right: 2px;
	margin-left: 2px;
}

#footerContents li a:link, #footerContents a:visited {
	color: #FFF;
	font-size: 110%;
	text-decoration: none;
}

#footerContents li a:hover, #footerContents a:focus, #footerContents a:active {
	color: #ed1c24;
}


/* END Footer styles ---------------------------------------------------------------------- */
.photoCredit {
	font-style: italic;
	font-weight: bold;
	font-size: 90%;
}

.photoCredit a:link, .photoCredit a:visited {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
.photoCredit a:hover, .photoCredit a:focus, .photoCredit a:active {
	font-weight: bold;
	color: #ed1c24;
}
.disclaimer span {
	font-weight: bold;
}
#indiegogo_container {
	padding-top: 7px;
	background-color: #aeaeae;
	padding-left: 7px;
	padding-bottom: 6px;
	width: 227px;
}
#eventbrite_container {
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 21px;
	background-color: #464646;
	padding-top: 21px;
	width: 216px;
	padding-bottom: 8px;
}
#tweet {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #000;
	margin-bottom: 25px;
	padding-bottom: 20px;
	margin-top: 25px;
}
#tableContainer {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	width: 770px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	font-size: 100%;
	font-style: normal;
}
#tableContainer table caption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: bold;
	color: #FFF;
	background-color: #000;
	padding: 5px;
	border: 1px solid #000;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.downloadFiles {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	border-collapse: collapse;
	margin-bottom: 20px;
}
.downloadFiles td {
	padding: 8px;
	border: 1px solid #000;
}
.disclaimer {
	font-size: 90%;
	width: 770px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
}
